* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 30px;
}

body {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
}

body #afterLoseBtn {
  position: absolute;
  z-index: 9999999999999999999999;
  width: 100px;
  height: 60px;
  top: 20px;
  padding: 4px 10px;
  border: 1px solid limegreen;
  border-radius: 5px;
  background-color: #6cca6c;
  color: white;
  text-shadow: 1px 2p 2px black;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

body #afterLoseBtn:hover {
  background-color: #538f53;
  border: 2px solid #538f53;
}

body #game-board {
  height: 80vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, right top, left top, from(#000428), to(#004e92));
  background: linear-gradient(to left, #000428, #004e92);
  color: #fff;
}

body #game-board #newGame {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2px;
  padding: 4px 10px;
  border: 1px solid limegreen;
  border-radius: 5px;
  background-color: #6cca6c;
  color: white;
  text-shadow: 1px 2p 2px black;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

body #game-board #newGame:hover {
  background-color: #538f53;
  border: 2px solid #538f53;
}

body #game-board .game-board__title {
  text-shadow: 2px 4px 2px #000428;
  padding: 40px 0;
}

body #game-board .game-board__stats {
  text-shadow: 2px 4px 2px #000428;
}

body #game-board .game-board__stats #goodAnswers {
  color: orangered;
  padding: 0 20px;
}

body #game-board .life-savers {
  padding: 20px 0;
  font-size: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 2px;
  text-shadow: 2px 4px 2px #000428;
}

body #game-board .life-savers button {
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  border: 2px solid limegreen;
  background-color: #6cca6c;
  color: white;
  text-shadow: 1px 2p 2px black;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

body #game-board .life-savers button:hover {
  background-color: #538f53;
  border: 2px solid #538f53;
}

body #game-board .life-savers button.disabled {
  background-color: #e79292;
  border-color: #da4d4d;
  color: #da4d4d;
  cursor: none;
}

body #game-board #tip {
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 100;
}

body #game-board #question {
  font-family: "Amatic SC", cursive;
  letter-spacing: 1px;
  padding: 10px 0px;
}

body #game-board .answers {
  width: 80%;
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body #game-board .answers .answers__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

body #game-board .answers .answers__row .answers__selector {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #game-board .answers .answers__row .answer {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff4400;
  color: white;
  font-family: "Amatic SC", cursive;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 1px 2px 1px black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body #game-board .answers .answers__row .answer:hover {
  cursor: pointer;
  background-color: rgba(255, 68, 0, 0.5);
  border-color: white;
}

body #game-board .answers .answers__row .answer:hover .answer__selector {
  color: orangered;
}

@media screen and (max-width: 550px) {
  body #game-board {
    height: 100%;
    width: 100%;
  }
  body #game-board #newGame {
    position: absolute;
    padding: 4px 5px;
    left: 2px;
  }
  body #game-board .answers__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body #game-board .answers__row .answers__selector {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  body #game-board {
    padding: 0 10px;
  }
  body #game-board .game-board__title {
    text-align: center;
    text-shadow: 2px 4px 2px #000428;
    padding: 15px 0;
    font-size: 35px;
  }
  body #game-board .game-board__stats {
    text-shadow: 2px 4px 2px #000428;
    font-size: 27px;
    padding: 10px 0;
  }
  body #game-board .game-board__stats #goodAnswers {
    padding: 0 15px;
  }
  body #game-board .life-savers {
    text-align: center;
    padding: 20px 0;
    font-size: 0.4rem;
  }
  body #game-board .life-savers h2 {
    padding: 15px 0;
  }
  body #game-board .life-savers button {
    padding: 10px 15px;
  }
  body #game-board .answers .answers__row {
    margin-bottom: 0px;
  }
  body #game-board .answers .answers__row .answer {
    font-size: 0.6rem;
    margin-top: 2px;
  }
}

@media screen and (max-height: 500px) {
  body #game-board {
    width: 100%;
    height: 100%;
  }
  body #game-board .game-board__title {
    text-align: center;
    padding: 5px 0;
    font-size: 35px;
  }
  body #game-board .game-board__stats {
    font-size: 27px;
    padding: 5px 0;
  }
  body #game-board .game-board__stats #goodAnswers {
    padding: 0 15px;
  }
  body #game-board .life-savers {
    text-align: center;
    padding: 0 0;
    font-size: 0.4rem;
  }
  body #game-board .life-savers h2 {
    padding: 0 0;
  }
  body #game-board .life-savers button {
    padding: 10px 15px;
  }
  body #game-board #tip {
    font-size: 0.6rem;
    height: 20px;
    text-align: center;
    font-weight: 500;
    font-family: "Amatic SC", cursive;
  }
  body #game-board #question {
    font-family: "Amatic SC", cursive;
    padding: 0px 0px;
  }
  body #game-board .answers {
    font-size: 20px;
  }
  body #game-board .answers .answers__row {
    margin-bottom: 0;
  }
  body #game-board .answers .answers__row .answer {
    font-size: 0.6rem;
  }
  body #game-board .answers .answers__row .answers__selector {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media screen and (max-width: 370px) {
  body #game-board .game-board__title {
    font-size: 30px;
  }
  body #game-board .game-board__stats {
    font-size: 25px;
    padding: 0px 0;
  }
  body #game-board .game-board__stats #goodAnswers {
    padding: 0 15px;
  }
  body #game-board .life-savers {
    text-align: center;
    padding: 0 0;
    font-size: 0.4rem;
  }
  body #game-board .life-savers h2 {
    padding: 0 0;
  }
  body #game-board .life-savers button {
    padding: 10px 15px;
  }
  body #game-board #tip {
    font-size: 0.6rem;
  }
  body #game-board .answers {
    font-size: 18px;
  }
  body #game-board .answers .answers__row .answer {
    font-size: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */