@media screen and (max-width: 550px) {
  body {
    #game-board {
      height: 100%;
      width: 100%;
      #newGame {
        position: absolute;
        padding: 4px 5px;
        left: 2px;
      }
      .answers__row {
        flex-direction: column;
        .answers__selector {
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  body {
    #game-board {
      padding: 0 10px;
      .game-board__title {
        text-align: center;
        text-shadow: 2px 4px 2px #000428;
        padding: 15px 0;
        font-size: 35px;
      }
      .game-board__stats {
        text-shadow: 2px 4px 2px #000428;
        font-size: 27px;
        padding: 10px 0;
        #goodAnswers {
          padding: 0 15px;
        }
      }
      .life-savers {
        text-align: center;
        padding: 20px 0;
        font-size: 0.4rem;
        h2 {
          padding: 15px 0;
        }

        button {
          padding: 10px 15px;
        }
      }
      .answers {
        .answers__row {
          margin-bottom: 0px;
          .answer {
            font-size: 0.6rem;
            margin-top: 2px;
          }
        }
      }
    }
  }
}
@media screen and (max-height: 500px) {
  body {
    #game-board {
      width: 100%;
      height: 100%;
      .game-board__title {
        text-align: center;

        padding: 5px 0;
        font-size: 35px;
      }
      .game-board__stats {
        font-size: 27px;
        padding: 5px 0;
        #goodAnswers {
          padding: 0 15px;
        }
      }
      .life-savers {
        text-align: center;
        padding: 0 0;
        font-size: 0.4rem;
        h2 {
          padding: 0 0;
        }

        button {
          padding: 10px 15px;
        }
      }
      #tip {
        font-size: 0.6rem;
        height: 20px;
        text-align: center;
        font-weight: 500;
        font-family: "Amatic SC", cursive;
      }
      #question {
        font-family: "Amatic SC", cursive;

        padding: 0px 0px;
      }
      .answers {
        font-size: 20px;
        .answers__row {
          margin-bottom: 0;
          .answer {
            font-size: 0.6rem;
          }
          .answers__selector {
            border: 2px solid #fff;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            transition: 0.4s;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 370px) {
  body {
    #game-board {
      .game-board__title {
        font-size: 30px;
      }
      .game-board__stats {
        font-size: 25px;
        padding: 0px 0;
        #goodAnswers {
          padding: 0 15px;
        }
      }
      .life-savers {
        text-align: center;
        padding: 0 0;
        font-size: 0.4rem;
        h2 {
          padding: 0 0;
        }

        button {
          padding: 10px 15px;
        }
      }
      #tip {
        font-size: 0.6rem;
      }
      .answers {
        font-size: 18px;
        .answers__row {
          .answer {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
