* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 30px;
}
body {
  #afterLoseBtn {
    position: absolute;
    z-index: 9999999999999999999999;
    width: 100px;
    height: 60px;
    top: 20px;
    padding: 4px 10px;
    border: 1px solid limegreen;
    border-radius: 5px;
    background-color: rgb(108, 202, 108);
    color: white;
    text-shadow: 1px 2p 2px black;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    &:hover {
      background-color: rgb(83, 143, 83);
      border: 2px solid rgb(83, 143, 83);
    }
  }
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  #game-board {
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left, #000428, #004e92);
    color: #fff;
    #newGame {
      align-self: flex-start;
      margin-top: 2px;
      padding: 4px 10px;
      border: 1px solid limegreen;
      border-radius: 5px;
      background-color: rgb(108, 202, 108);
      color: white;
      text-shadow: 1px 2p 2px black;
      text-transform: uppercase;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        background-color: rgb(83, 143, 83);
        border: 2px solid rgb(83, 143, 83);
      }
    }
    .game-board__title {
      text-shadow: 2px 4px 2px #000428;
      padding: 40px 0;
    }
    .game-board__stats {
      text-shadow: 2px 4px 2px #000428;
      #goodAnswers {
        color: orangered;
        padding: 0 20px;
      }
    }
    .life-savers {
      padding: 20px 0;
      font-size: 0.5rem;
      color: rgba(255, 255, 255, 0.8);
      letter-spacing: 2px;
      text-shadow: 2px 4px 2px #000428;
      button {
        border-radius: 5px;
        padding: 5px 10px;
        margin-top: 5px;
        border: 2px solid limegreen;
        background-color: rgb(108, 202, 108);
        color: white;
        text-shadow: 1px 2p 2px black;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;
        &:hover {
          background-color: rgb(83, 143, 83);
          border: 2px solid rgb(83, 143, 83);
        }
        &.disabled {
          background-color: rgb(231, 146, 146);
          border-color: rgb(218, 77, 77);
          color: rgb(218, 77, 77);
          cursor: none;
        }
      }
    }
    #tip {
      width: 100%;
      height: 50px;
      text-align: center;
      font-weight: 100;
    }
    #question {
      font-family: "Amatic SC", cursive;
      letter-spacing: 1px;
      padding: 10px 0px;
    }
    .answers {
      width: 80%;
      height: 25vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      .answers__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .answers__selector {
          border: 2px solid #fff;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          transition: 0.4s;
        }
        .answer {
          flex-grow: 2;
          font-size: 1rem;
          padding: 10px 20px;
          border-radius: 5px;
          background-color: rgb(255, 68, 0);
          color: white;
          font-family: "Amatic SC", cursive;
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 1px;
          text-shadow: 1px 2px 1px black;
          transition: 0.4s;
          &:hover {
            cursor: pointer;
            background-color: rgba(255, 68, 0, 0.5);
            border-color: white;
          }
          &:hover .answer__selector {
            color: orangered;
          }
        }
      }
    }
  }
}
@import "responsives";
